        <div class="" itemscope itemtype="http://schema.org/CreativeWork">
            <h1 class="title">
                <a href="{{ .Permalink }}" itemprop="headline">{{ .Title }}</a>
            </h1>
            <div class="has-text-grey-light">
             {{ partial "post/meta" . }}
         </div>
         {{ if .Description }}
         <blockquote itemprop="about">{{ .Description }}</blockquote>
         {{ end }}

     </div>
        <!-- <div class="button">
            <a href="{{ .RelPermalink }}" itemprop="url">{{ .RelPermalink }}</a>
        </div> -->