{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "menu" .}} {{end}}

{{ define "main" }}

<div id="container">




  {{ range .Data.Pages where (lt index 3) }}
  <div class="columns">
    <div class="column is-one-third">
      <header>
       <h2>
        <a href="{{ .Permalink }}">
          {{ .Title  }}
        </a>
      </h2>
    </header>

  </div><!-- /.column -->
</div><!-- /.columns -->



{{end}} <!-- range -->
</div><!-- #container -->

{{ end }}

{{ define "footer" }} {{ partial "footer" .}} {{ end }}
