{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "menu" .}} {{end}}

{{ define "main" }}

<div id="container" style="padding:5%;margin-top:12vh">


  {{$colclasses:="column card is-one-quarter has-text-centered is-size-7"}}

  {{$lower:=0}}
  {{$upper:=3}}
  <div class="columns">
    {{ range $index, $element := first 99 (where .Site.Pages "Type" "post") }}

    {{ if le $index $upper }}
    <div class="{{$colclasses}}" style="height:100%;">
      <h2>
        <a href="{{ .Permalink }}">
          {{.Title}}
        </a>
      </h2>
    </div><!-- /.column -->
    {{end}} <!-- if -->
    {{end}} <!-- range -->
  </div><!-- /.columns -->


  {{$lower:=3}}
  {{$upper:=7}}
  <div class="columns">
    {{ range $index, $element := first 99 (where .Site.Pages "Type" "post") }}

    {{ if le $index $upper }}
    {{ if gt $index $lower }}
    <div class="{{$colclasses}}">
      <h2>
        <a href="{{ .Permalink }}">
          {{.Title}}
        </a>
      </h2>
    </div><!-- /.column -->
    {{end}} <!-- if -->
    {{end}} <!-- if -->
    {{end}} <!-- range -->
  </div><!-- /.columns -->


  {{$lower:=7}}
  {{$upper:=11}}
  <div class="columns">
    {{ range $index, $element := first 99 (where .Site.Pages "Type" "post") }}

    {{ if le $index $upper }}
    {{ if gt $index $lower }}
    <div class="{{$colclasses}}">
      <h2>
        <a href="{{ .Permalink }}">
          {{.Title}}
        </a>
      </h2>
    </div><!-- /.column -->
    {{end}} <!-- if -->
    {{end}} <!-- if -->
    {{end}} <!-- range -->
  </div><!-- /.columns -->


  {{$lower:=11}}
  {{$upper:=15}}
  <div class="columns">
    {{ range $index, $element := first 99 (where .Site.Pages "Type" "post") }}

    {{ if le $index $upper }}
    {{ if gt $index $lower }}
    <div class="{{$colclasses}}">
      <h2>
        <a href="{{ .Permalink }}">
          {{.Title}}
        </a>
      </h2>
    </div><!-- /.column -->
    {{end}} <!-- if -->
    {{end}} <!-- if -->
    {{end}} <!-- range -->
  </div><!-- /.columns -->


  {{$lower:=15}}
  {{$upper:=19}}
  <div class="columns">
    {{ range $index, $element := first 99 (where .Site.Pages "Type" "post") }}

    {{ if le $index $upper }}
    {{ if gt $index $lower }}
    <div class="{{$colclasses}}">
      <h2>
        <a href="{{ .Permalink }}">
          {{.Title}}
        </a>
      </h2>
    </div><!-- /.column -->
    {{end}} <!-- if -->
    {{end}} <!-- if -->
    {{end}} <!-- range -->
  </div><!-- /.columns -->



</div><!-- #container -->

{{ end }}

{{ define "footer" }} {{ partial "footer" .}} {{ end }}
