{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "menu" .}} {{end}}

{{ define "main" }}

<section class="hero is-fullheight">


  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns is-vcentered">
<!--         <div class="column is-5">
          <figure class="image is-4by3">
            <img class="lazyload" src="https://images.unsplash.com/photo-1487611459768-bd414656ea10?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=" alt="Description">
          </figure>
        </div> -->
        {{ range .Paginator.Pages }}
        {{ if eq .Type "post" }}
        <div class="column is-multiline box">
          <br>
          {{ partial "page-summary" . }}

        </div>
        {{ end }}
        {{ end }}

      </div>
    </div>
  </div>
</div>

{{ end }}

{{ define "footer" }} {{ partial "footer" .}} {{ end }}